.print-qr {
    display: none;
}

@page {
  size: A4;
  margin: 2.5em;
}

@media print {
    body {
        zoom: 0.75;
    }

    .print-qr {
        display: block !important;
        width: 100%;
    }

    .verse-wrapper,
    .img-wrapper,
    .columns,
    tr
    {
        break-inside: avoid;
    }

    .hamburger,
    .top-link,
    .toc-wrapper,
    .post-footer,
    .comments, #comments,
    footer,
    hyvor-talk-newsletter
    {
        display: none !important;
    }

    h2,
    h3,
    h4
    {
        break-after: avoid;
    }

    p, li {
        orphans: 2;
        widows: 2;

        // Only display links for <a> elements in normal body text (no special
        // class present).
        &:not([class]) > a[href]:not(.reversefootnote):after,
        &.caption > a[href]:not(.reversefootnote):after
        {
            content: " (" attr(href) ")";
            font-size: $smaller-font-size;
            color: $gray;
        }
    }
}
