@page {
  size: A4;
  margin: 2.5em;
}

@media print {
    body {
        zoom: 0.75;
    }

    .verse-wrapper,
    .columns,
    .img-wrapper
    {
        break-inside: avoid;
    }

    .hamburger,
    .top-link,
    .toc-wrapper,
    .post-footer,
    .comments, #comments,
    footer,
    hyvor-talk-newsletter
    {
        display: none !important;
    }

    h2,
    h3,
    h4
    {
        break-after: avoid;
    }

    p {
        orphans: 2;
        widows: 2;
    }
}
