<footer class="site-footer">

  <div class="wrapper-footer">
    <div class="footer-col-wrapper">

      <span class="footer-link">
        <a href="{{ '/' | relative_url }}">home</a>
      </span>
      •
      <span class="footer-link">
        <a href="{{ '/about/' | relative_url }}">about</a>
      </span>
      •
      <span class="footer-link">
        <a href="https://github.com/mrcnski/believeobey.live/commits/master/">updates</a>
      </span>
      •
      <span class="footer-link">
        {% include icon-email.html email=site.email display='contact' %}
      </span>

    </div>

    <div class="copyright">
      © {{ site.copyright_year }} mrcnski
    </div>
  </div>
</footer>
