<header class="site-header">

  <div class="wrapper-header">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <div class="header-left">
      <a class="site-title" href="{{ '/' | relative_url }}">
        <span class="title-m">Believe</span><span class="title-rcn">Obey</span> <span class="title-ski">Live</span>
      </a>
    </div>

    {% if page_paths %}
    <div class="header-right">
      <!-- <a class="page-link" href="{{ '/' | relative_url }}">Home</a> -->
      <!-- <a class="page-link" href="{{ '/studies/' | relative_url }}">Studies</a> -->
    </div>
    {% endif %}
  </div>

</header>
