{% assign date_format = site.minutia.date_format | default: "%b %-d, %Y" %}
<div class="toc-wrapper last-updated">
  <input class="toc-check" type="checkbox">
  <label class="toc-label">Last Updated: <time datetime="{{ page | last_modified_at_with_deps | date_to_xmlschema }}" itemprop="dateModified">{{ page | last_modified_at_with_deps | date: date_format }}</time></label>
  <div class="toc-table">
    <ul class="commit-history">
      {% assign history = page | merged_commits %}
      {% for c in history %}
      <li>
        <a href="https://github.com/mrcnski/believeobey.live/commit/{{ c.sha }}">{{ c.date | date: date_format }}</a> {{ c.subject | escape }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
