<div class="verse">
  <p>
    <i>
      {{ include.text | replace_regex: '\*\*(.+)\*\*', '<strong>\1</strong>'}}
    </i>
  </p>
  <p class="verse-verse">
    ~
    {% if include.url %}
    <a href="{{ include.url }}">
      {{ include.verse }}
      {% if include.version %}
      ({{ include.version }})
      {% endif %}
    </a>
    {% else %}
    <a href="https://www.biblegateway.com/passage/?search={{ include.verse }}&version={{ include.version | default: 'NRSVUE' }}">
      {{ include.verse }}
      {% if include.version %}
      ({{ include.version }})
      {% endif %}
    </a>
    {% endif %}
  </p>
</div>
