---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="page-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {% include post-meta.html %}
      <br>
      <span class="post-meta-last-updated">
        <i>
          <a href="https://github.com/mrcnski/believeobey.live/commits/master/_posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.slug }}.md">
            Last Updated:
            <time datetime="{{ page.path | last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
              {{ page.path | last_modified_at | date: date_format }}
            </time>
          </a>
        </i>
      </span>
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if page.toc %}
    {% include toc.html text="Table of Contents" %}
    {% endif %}

    {{ content }}
  </div>

  <div class="post-footer">
    {% include post-footer.html %}
  </div>

  <h2 id="comments">Comments</h2>

  <div class="comments">
    {% include comments.html %}
  </div>

</article>

{% include post-scripts.html %}
