---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="page-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>

    <div class="post-header-container">
      <p class="post-meta">
        {% include post-meta.html %}
      </p>
      {% include post-categories.html %}
    </div>
    {% assign commits = page | commit_count_with_deps %}
    {% if commits > 1 %}{% include last-updated.html %}{% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if page.toc %}
    {% include toc.html text="Table of Contents" %}
    {% endif %}

    {{ content }}
  </div>

  <div class="post-footer">
    {% include post-footer.html %}
  </div>

  <h2 id="comments">Comments</h2>

  <div class="comments">
    {% include comments.html %}
  </div>

</article>

{% if page.toc or commits > 1 %}{% include accordion.html %}{% endif %}
{% include post-scripts.html %}
