---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="page-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minutia.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
      •
      {% include filed.html %}
      <!-- •
           <a href="#commento"></a> -->

      <br>
      <span class="post-meta-last-updated">
        {% if page.last-updated %}
        <i>
        <a href="https://github.com/mrcnski/believeobey.live/commits/master/_posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.slug }}.md">Last Updated: <time datetime="{{ page.last-updated | date_to_xmlschema }}" itemprop="dateModified">{{ page.last-updated | date: date_format }}</time></a>
        </i>
        {% endif %}
      </span>
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if page.toc %}
    {% include spoiler.html display="Table of Contents" %}
    {% endif %}

    {{ content }}
  </div>

  <div class="post-footer">
    {% include post-footer.html %}
  </div>

  <!-- <div class="comments">
       {% include comments.html %}
       </div> -->

</article>
